<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Netlify EJS Express Test</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>
  <div class="example">
    <h1>HELLOWORLD</h1>
    <h2>Netlify EJS Express Test</h2>
    <img src="images/gifkitty.gif" alt="kitty" />
  </div>
</body>

</html>