body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.7rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

span {
  font-weight: bold;
  font-size: 1.2rem;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  border: 4px solid rgb(127, 255, 212);
}

.example {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(127, 255, 212, 0.281);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  margin-top: 10px;
  width: 60%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
}

.li-header {
  font-weight: bold;
}
