body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(127, 255, 212, 0.281);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
}

span {
  font-weight: bold;
  font-size: 1.2rem;
}

img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 20%;
  border: 4px solid rgb(127, 255, 212);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  margin-top: 10px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  line-height: 1.5;
}

.li-header {
  font-weight: bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0 0 0;
}
